@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .bgblack {
    background-color: #0F1117;
  }
  .tradebox {
    background-color: #1C1F29;
  }
  .insidebox {
    background-color: #232732;
  }
  .cartbutton {
    background-color: #343a4b;
  }
  .searchbg {
    background-color: #2B2F3C;
  }
  .filterbg {
    background-color: #1C1F29;
  }
  .redaccent {
    background-color: #DE4646;
  }
  .redaccenttext {
    color: #DE4646;
  }

  .redhoveraccenttext {
    color: #e96969;
  }

  .redhoveraccent {
    color: #e96969;
  }

  .svgcolorchange {
    filter: invert(72%) sepia(90%) saturate(3291%) hue-rotate(319deg) brightness(99%) contrast(84%);
  }

  .borderinsidebox {
    border-color: #232732;
  }

  .animate-show {
    transition: all 1s ease;
    opacity: 1;
    transform-origin: right;
    transform: translateX(0);
  }

.animate-show-error {
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  transform-origin: right;
  transform: translateX(0);
}

.hiddenError {
  transition: opacity 2s ease, transform 1s ease;
  opacity: 0;
  transform-origin: right;
  transform: translateX(100%);
}
  
  .hiddenLogin {
    transition: all 1s ease;
    opacity: 0;
    transform-origin: right;
    transform: translateX(100%);
  }

  .navbarblur {
    transition: all 1.2s ease;
    opacity: 0;
    z-index: -1;
  }

  .items-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-column-gap: 8px;
    grid-row-gap: 10px;
  }

  .mq {
    @media only screen and (max-width: 600px) {
      body {
        grid-template-columns: repeat(3, minmax(0, 1fr))
      }
    }
    @media only screen and (max-width: 400px) {
      body {
        grid-template-columns: repeat(2, minmax(0, 1fr))
      }
    }
  }

}

@layer base {
  ::selection {
    @apply bg-red-400;
  }
}

@layer components {
  select option:hover,
  select option:hover {
    @apply bg-red-400;
  }
}
